@media screen and (max-width: 1024px) and (min-width: 600px)
{
*
{
    font-family: 'raleway',Arial;
}
.image 
{
    background-size: cover;
    width: 20em;
    height: 10em;
    border-top-left-radius: 1em;
    border-top-right-radius: 1em;
    width: 100%;
    background-position: center center;
}
    
.image img
{
    display: none;
}
a
{
    text-decoration: none;
    color: black;
}
h1
{
    font-size: 1.5em;
    margin-bottom: 0.3em;
    margin-left: 1.7em;
    margin-top: 1.5em;
}
#texte_1
{
    margin-left: 2.5em;
    margin-top: 0em;
}
body
{
    margin: 0px;
}

/* Partie header */
#logo
{
    margin-left: 2.5em;
}
#conteneur_liens_header
{
    display: grid; 
    grid-template-columns: 12fr 1fr;
}
.liens_header
{
    margin-right: 3em;
    padding-top: 1em;
}
#nav_1
{
    display: flex;
    justify-content: space-between;
}
#nav_2
{
    display: flex;
}
.test3
{
    display: flex;
    justify-content: flex-end;
}
.test4
{
    display: flex;
    justify-content: flex-end;
}
.test5
{
    display: flex;
    justify-content: flex-end;
}
.liens_header:hover
{
    border-top: 2px solid #0065FC;
    color: #0065FC;
}
.sinscrire
{
    margin-right: 3em;
    font-weight: bold;
    padding-top: 1em;
    color: #0065FC;
}
.sinscrire:hover
{
    border-top: 2px solid #0065FC;
}
/* Fin partie header */

/* Partie formulaire de recherche */ 

.conteneur_recherche
{
    padding: 1em;
    width: 20em;
    display: flex;
    margin-left: 2.5em;
    padding: 0em;
    height: 3em;
}
#icone_localisation
{
    background-color: #F2F2F2;
    height: 100%;
    padding-left: 1em;
    padding-right: 1em;
    display: flex;
    align-items: center;
    border-top: 1px #F2F2F2 solid;
    border-bottom: 1px #F2F2F2 solid;
    border-left: 1px #F2F2F2 solid;
    border-top-left-radius: 1em;
    border-bottom-left-radius: 1em;
}
#formulaire_recherche
{
    height: 100%;
    display: flex;
    align-items: center;
    border-top: 1px #F2F2F2 solid;
    border-bottom: 1px #F2F2F2 solid;
}
#rechercher
{
    height: 95%;
    border: none;
    padding-left: 0.5em;
    font-weight: bold;
    font-size: 1em;
    padding-right: 2em;
}
.sous_conteneur_recherche_bordures
{
    display: flex;
    align-items: center;
}
#bouton_recherche
{
    background-color: #0065FC;
    color: white;
    height: 100%;
    padding-left: 1em;
    padding-right: 1em;
    display: flex;
    align-items: center;
    border-top: 1px #0065FC solid;
    border-bottom: 1px #0065FC solid;
    border-right: 1px #0065FC solid;
    border-top-right-radius: 1em;
    border-bottom-right-radius: 1em;
    font-weight: bold;
}
.fa-search
{
    visibility: hidden;
}
#bouton_recherche:hover
{
    cursor: pointer;
}
.sous_conteneur_recherche
{
    display: flex;
    align-items: center;
}

/* Fin partie formulaire de recherche */

/* Partie filtres */

#conteneur_filtres
{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    font-weight: bold;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: 2.5em;
}
.icone_filtres
{
    display: flex;
    align-items: center;
    background-color: #DEEBFF ;
    height: 100%;
    border-radius: 2em;
    width: 3em;
    height: 3em;
    justify-content: center;
    margin-right: 1em;
    border: 2px #DEEBFF solid
}
.icone_texte
{
    display: flex;
    align-items: center;
    height: 100%;
    border: 2px #F2F2F2 solid;
    border-left: none;
    margin-left: 1em;
    border-top-right-radius: 2em;
    border-bottom-right-radius: 2em;
    border-top-left-radius: 2em;
    border-bottom-left-radius: 2em;
    padding-right: 1em;
    cursor: pointer;
    margin-bottom: 0.7em;
}
.icone_texte:hover
{
    box-shadow: 0.3em 0.3em 1em #F2F2F2;
    color: #0065FC;
    transition-duration: 200ms;
}
.fa-money-bill-wave
{
    color: #0065FC;
}
.fa-child
{
    color: #0065FC;
}
.fa-heart
{
    color: #0065FC;
}
.fa-dog
{
    color: #0065FC;
}

/* Fin partie filtres */

/* Partie info */

.fa-info
{
    color: #0065FC;
    border: 1px solid #F2F2F2;
    border-radius: 2em;
    padding-right: 9px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 9px;
    margin-right: 5px;
    margin-left: 2.5em;
    font-size: 0.8em;
}
.conteneur_info
{
    margin-top: 1.5em;
    margin-bottom: 1.5em;
}

/* Fin partie info */

/* Partie "hébergements à Marseille + les plus populaires" */

.conteneur
{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
.conteneur_vignette
{
    background-color: white;
    padding: 0.5em;
    border-radius: 1em;
    box-shadow: 0.2em 0.2em 0.8em #CDCAD1;
}
.conteneur_vignette:hover
{
    box-shadow: 0.2em 0.2em 0.8em #b4b2b6;
    transition-duration: 200ms;
}
.conteneur_vignette_2
{
    background-color: white;
    padding: 0.5em;
    border-radius: 1em;
    box-shadow: 0.2em 0.2em 0.8em #CDCAD1;
}
.conteneur_vignette_2:hover
{
    box-shadow: 0.2em 0.2em 0.8em #b4b2b6;
    transition-duration: 200ms;
}
.marge_vignette
{
    margin: 0em 1em 1em 1em;
}
.marge_vignette_2
{
    margin: 0em 1em 1em 1em;
}
.conteneur_hebergement
{
    border-radius: 2em;
    height: 100%;
}
.conteneur_hebergement_2
{
    background-color: #F2F2F2;
    padding: 1em;
    height: 100%;
}
.texte_et_vignettes
{
    display: flex;
    flex-direction: column;
}
#titre_partie_1
{
    margin-left: 1em;
    margin-top: 1.5em;
}
.titre_partie_2
{
    margin-left: 1em;
    margin-top: 1.5em;
}
.image_2 img
{
    display: none;
}
.texte_vignette
{
    padding-left: 0.2em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.conteneur_etoiles
{
    padding-bottom: 0.5em;
}
#afficher_plus
{
    text-decoration: none;
    margin-left: 1em;
    margin-top: 1.5em;
    color: black;
    font-weight: bold;
    font-size: 1.2em;
    margin-bottom: 2em;
    width: 6em;
}
#afficher_plus:hover
{
    color: #0065FC;
}
.nom_hebergement
{
    text-decoration: none;
}
.fa-star
{
    color: #0065FC;
}
.star_grise
{
    color: #dadada;
}
#test
{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.fa-chart-line
{
    font-size: 1.5em;
    padding-top: 0.8em;
    padding-right: 1.2em;
}
/* Fin partie "hébergements à Marseille + les plus populaires" */

/* Partie Activités à Marseille */


    
.image_activites img 
{
    display: none;
}
.image_activites_2
{
    background-size: cover;
    width: 100%;
    height: 15em;
    border-top-left-radius: 1em;
    border-top-right-radius: 1em;
    background-position: center center;
}
    
.image_activites_2 img 
{
    display: none;
}
.image_activites_3
{
    background-size: cover;
    width: 100%;
    height: 15em;
    border-top-left-radius: 1em;
    border-top-right-radius: 1em;
    background-position: center center;
}
    
.image_activites_3 img 
{
    display: none;
}
.image_activites_4
{
    background-size: cover;
    width: 100%;
    height: 15em;
    border-top-left-radius: 1em;
    border-top-right-radius: 1em;
    background-position: center center;
}
    
.image_activites_4 img 
{
    display: none;
}
#titre_activites
{
    margin-left: 1.3em;
}
.vignette_activites
{
    display: flex;
    justify-content: center;
    border-radius: 1em;
}
.lien_activites
{
    margin: 1em;
    border-radius: 1em;
    background-color: white;
    box-shadow: 0.2em 0.2em 0.8em #CDCAD1;
    width: 100%;
}
.lien_activites:hover
{
    box-shadow: 0.2em 0.2em 0.8em #b4b2b6;
    transition-duration: 200ms;
}
.texte_activites
{
    padding-left: 1em;
    font-weight: bold;
}

/* Fin partie activités à Marseille */

/* Partie Footer */

footer
{
    background-color: #F2F2F2;
}
.grid_footer
{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-left: 2em;
}
.parties_footer
{
    display: flex;
    flex-direction: column;
}
.titre_footer
{
    font-weight: bold;
    margin-bottom: 1.3em;
}
.div_footer
{
    margin-bottom: 0.8em;
}
.lien_footer:hover
{
    color: #0065FC;
    transition-duration: 200ms;
}

/* Fin partie Footer */




/* reponsive tablette */
#partie_1_conteneur
{
    display: flex;
    flex-direction: column-reverse;
    margin-top: 1em;
}
.marge_conteneur
{
    padding:1em;
}
.alignement_image_vignette
{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.image_2
{
    background-size: cover;
    width: 20em;
    height: 10em;
    border-bottom-left-radius: 1em;
    border-top-left-radius: 1em;
    width: 100%;
    background-position: center center;
}
.conteneur_images_activites
{
    display: flex;
    flex-direction: column;
    padding: 1em;
}
.double_vignettes
{
    display: flex;
    flex-direction: column;
}
.image_activites
{
    background-size: cover;
    width: 100%;
    height: 15em;
    border-top-left-radius: 1em;
    border-top-right-radius: 1em;
    background-position: center center;
}
/* Fin responsive tablette */
}